
@font-face {
    font-family: 'pacificoregular';
    src: url('Pacifico\pacifico-regular-webfont.woff2') format('woff2'),
         url('Pacifico\pacifico-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.banner{
  background:url("banner.jpg");
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: auto;
}
.banner-content
 {
  text-align: left;
  color: #FFF;
  padding-top:100px;
  padding-left: 200px;
  font-size: 15px;
  font-weight: 500;

}
.banner-content h1{
  font-family:pacificoregular;
  font-size: 72px;
}
.banner-content p{
  font-family:helveticaneuemedium;
  font-size: 22px;
}
.social-icon{
  display: inline-block;
  padding-left: 12px;
  background-color: #7E7E7E;
  border-radius: 50%;
  padding: 9px;
  color:#F9F9F9;
}
.social-icon:hover{
  background-color: black;
  color: white;
}
.jumbotron-one {
  padding-top: 50px;
  background-color: white;

}
.jumbotron-one h3{
  font-size: 30px;
  font-size: Myriad Pro Light;
  font-weight: lighter;
}
.tbz td{
  align-content: center;
  text-align: center;
  padding: 10%;
  align-items: center;
  width: 301px;
  height: 270px;
}
.tbz p{
  font-size: 16px;
}
.card h6{
  padding-top: 22px;
  font-weight: lighter;
  font-size: 22px;
  color: black;
  padding-bottom: 20px;

}
.card{
  border-style: none;
}
.card-header{
  border-style: none;
  backcolor: white;
}
.card-deck{
  padding-top: 50px;
}
.heading{
  font-family: Myriad Pro Light;
  font-size: 30px;
  font-weight: 300;
}
.jumbotron p{
  font-size: 16;
  font-family: helveticaneuemedium;
  font-weight: 10px;
  align:left;
}
.jumbotron li{
  font-size: 16;
  font-family: helveticaneuemedium;
  font-weight: 10px;
  list-style: none;
}
.jumbotron video{
  width: 450px;
  height: 307px;
  border-radius: 6%;
}


.slideshow-container {

  background: white;
  height: 177.32px;
}

.mySlides {
  display: none;
  padding: 35px;
  text-align: center;
  font-family: helveticaneuemedium;
  color: grey;
  font-size: 24px;
}

.dot-container {
  text-align: center;
 padding-bottom: 40px;
}

.dot {
  cursor: pointer;
  height: 14.5px;
  width: 14.5px;
  margin: 0 4px;
  background-color: #FFFFFF;

  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  border:1px;
  border-color: #3498DB;
  border-style: solid;
}
.author{
  color: black;
  font-family: Myriad Pro Light;
  font-size: 18px;
  padding-top: 19px;
}
.active, .dot:hover {
  background-color: #3498DB;
}
.jumbotron-two h3{
  font-family: Myriad Pro Light;
  font-size: 30px;
  padding-top: 40px;
}
.jumbotron-two p{
  font-family: helveticaneuemedium;
  font-size: 16px;
  color:#707070;
}
.jumbotron-two{
  background-color: #E7E7E7;
}
.price{
  background-color: #3498DB;
  color: white;
  font-size:28px;
  font-family:Myriad Pro Light;
}
.priceL{
  font-size: 16px;
  font-family: helveticaneuemedium;
  color: #707070;
}
.title{
  font-size: 42px;
  font-weight: lighter;
}
.card-f{
  background-color: #3498DB;
  padding: 20px;
}
.btnPurchase{
  width: 136.9px;
  height: 40px;
  color:white;
  font-weight:20px;
  font-size: 15;

  background-color: #0D74B9;
  border: none;
}
.card:hover{
  box-shadow: 0 0 15px rgba(0,0,0,1);
  transform: scale(1.1);
  z-index: 1;
  transition: 0.2s ease;
}
.card-deck{
  margin-left: 20px;
  margin-right: 20px;
}
.PP{
  height: 651px;
}
.Hi{
  padding-top: 30px;

}
.Hi p{
  padding-top: 10px;
}

.Hi img{
  -webkit-filter: invert(1);
     filter: invert(1);
}
.Hi img:hover{

}
.Hi button:hover{
  background-color: #3498DB;
  color:white;
  border-style: none;

}
.SM{
  display:inline-block;
  padding: 2.3px;
  background-color: #D3D3D3;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color:white;
  border-style: none;

}
.fa:hover{
  transform: scale(1.3);
  z-index: 1;
  transition: 0.2s ease;
}
