
@font-face {
    font-family: 'pacificoregular';
    src: url('Pacifico\pacifico-regular-webfont.woff2') format('woff2'),
         url('Pacifico\pacifico-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.banner{
  background:url("banner.jpg");
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
}
.banner-content
 {
  text-align: left;
  color: #FFF;
  padding-top:100px;
  padding-left: 200px;
  font-size: 15px;
  font-weight: 500;

}
.banner-content h1{
  font-family:pacificoregular;
  font-size: 72px;
}
.banner-content p{
  font-family:helveticaneuemedium;
  font-size: 22px;
}
.social-icon{
  display: inline-block;
  padding-left: 12px;
  background-color: #7E7E7E;
  border-radius: 50%;
  padding: 9px;
  color:#F9F9F9;
}
.social-icon:hover{
  background-color: black;
  color: white;
}
.jumbotron-one {
  padding-top: 50px;
  background-color: white;

}
.jumbotron-one h3{
  font-size: 30px;
  font-size: Myriad Pro Light;
  font-weight: lighter;
}
.tbz td{
  align-content: center;
  text-align: center;
  padding: 10%;
  align-items: center;
  width: 301px;
  height: 270px;
}
.tbz p{
  font-size: 16px;
}
.card h6{
  padding-top: 22px;
  font-weight: lighter;
  font-size: 22px;
  color: black;
  padding-bottom: 20px;

}
.card{
  border-style: none;
}
.card-header{
  border-style: none;
  color: white;
}
.card-deck{
  padding-top: 50px;
}
.heading{
  font-family: Myriad Pro Light;
  font-size: 30px;
  font-weight: 300;
}
.jumbotron p{
  font-size: 16;
  font-family: helveticaneuemedium;
  font-weight: 10px;
  align:left;
}
.jumbotron li{
  font-size: 16;
  font-family: helveticaneuemedium;
  font-weight: 10px;
  list-style: none;
}
.jumbotron video{
  width: 450px;
  height: 307px;
  border-radius: 6%;


}
